@font-face {
  font-family: 'Hacked';
  src: url('../font/HACKED/HACKED.ttf') format('truetype');
}

/***********************

Universal Styling

***********************/
* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}


h2 {
  font: 70px 'Hacked', sans-serif;
}

/***********************

Header Styling

***********************/
header {
    text-align: center;
    background: rgb(0 0 0 / 0.6);
    position: fixed;
    width: 100%;
    z-index: 99999;
    padding: 20px 0;
}

header a {
    font: bold 25px 'Fira Code', monospace;
    color: white;
    text-decoration: none;
    padding: 20px;
    transition: .3s;
}

header a:hover {
    color: #1bb723;
    transition: .3s;
}

header nav ul li {
    display: inline;
}

/***********************

Hero Section Styling

***********************/
.hero-section {
    background: url(../image/wd2-background.jpg) center/cover no-repeat;
    position: relative;
    min-height: 67vh;
    z-index: 1;
}

.wd-hero {
    position: relative;
    bottom: -200px;
}

.wd-hero h1 {
    color: white;
    font: 100px 'Hacked', sans-serif;
    text-align: center;
}
