@font-face {
  font-family: 'Hacked';
  src: url('../font/HACKED/HACKED.ttf') format('truetype');
}

/***********************

Universal Styling

***********************/
* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}


h2 {
  font: 90px 'Hacked', sans-serif;
}

h1,
h2,
h3,
p {
  color: white;
}


/***********************

Header Styling

***********************/
header {
    text-align: center;
    background: rgb(0 0 0 / 0.6);
    position: fixed;
    width: 100%;
    z-index: 99999;
    padding: 20px 0;
}

header a {
    font: bold 25px 'Fira Code', monospace;
    color: white;
    text-decoration: none;
    padding: 20px;
    transition: .3s;
}

header a:hover {
    color: #c013c1;
    transition: .3s;
}

header nav ul li {
    display: inline;
}


/***********************

Hero Section Styling

***********************/
.hero-section {
    background: url(../image/wd2-background.jpg) center/cover no-repeat fixed;
    position: relative;
    padding: 100px 0;
    min-height: 100vh;
    z-index: 1;
}

.logo {
    position: relative;
    right: -3%;
    animation: logo-slide 2s forwards linear;
}

.wd-hero {
    position: relative;
    bottom: -200px;
}

.wd-hero h1 {
    font: 200px 'Hacked', sans-serif;
    text-align: center;
}


/***********************

About Section Styling

***********************/
.about-section {
    background: url(../image/wd2-background2.jpg) center/cover no-repeat fixed;
    position: relative;
    min-height: 81vh;
    padding: 100px 0;
}

.about h2 {
    float: right;
    position: relative;
    left: -21%;
    top: 6px;
}

.about p {
    float: right;
    font: 20px 'Fira Code', monospace;
    line-height: 2.5em;
    position: absolute;
    top: 242px;
    right: 81px;
    width: 42%;
    text-shadow: 1px 1px 4px black;
}


/***********************

Character Section Styling

***********************/
.characters-section {
    background: black;
    min-height: 80vh;
}

.characters-container {
    text-align: center;
    clear: both;
}

.characters {
    font: 30px 'Fira Code', monospace;
    width: 19%;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.characters-section h2 {
    text-align: center;
    padding: 80px;
}

.highlight {
    color: lime;
}


/***********************

Trailer Section Styling

***********************/
.trailer-section {
    background: url(../image/san-francisco.jpg) center/cover no-repeat fixed;
    min-height: 62vh;
    padding: 100px 0;
}

.trailer-section h2 {
    text-align: center;
    padding: 30px;
}


iframe {
    display: block;
    margin: 0 auto;
}


/***********************

Footer Section Styling

***********************/
footer {
    background: black;
    padding: 50px;
}

footer p {
  font: 18px 'Fira Code', monospace;
  text-align: center;
}


/***********************

Media Queries

***********************/
@media screen and (min-width: 768px) and (max-width: 1366px) {
  .wd-hero h1 {
      font: 200px 'Hacked', sans-serif;
      text-align: center;
      position: relative;
      bottom: 107px;
  }

  .about p {
    float: right;
    font: 18px 'Fira Code', monospace;
    line-height: 2.5em;
    position: absolute;
    top: 26%;
    right: 81px;
    width: 46%;
    text-shadow: 1px 1px 4px black;
  }
}

@media screen and (min-width: 900px) and (max-width: 1440px) {
  .about h2 {
      float: right;
      position: relative;
      left: -21%;
      top: -46px;
  }

  .about p {
    float: right;
    font: 20px 'Fira Code', monospace;
    line-height: 2.5em;
    position: absolute;
    right: 81px;
    width: 42%;
    text-shadow: 1px 1px 4px black;
  }
}


/***********************

Logo Animation

***********************/
@keyframes logo-slide {
  from {
    transform: translateX(1000%);
  }

  to {
    transform: translateX(-3%);
  }
}
